{# author: Benjamin Ihrig #}
{# system: ATS.net 2 #}
{# bundle: AtemschutzNachweisBundle #}

{% extends 'AtemschutzNachweisBundle:G26:base.html.twig' %}

{% block title %}{{ parent() }} - Neu{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block moduleTitle %}Neue G26{% endblock %}

{% block moduleActions %}
<ul class="inline">
	<li><a href="{{ path('atemschutzgeraetetraeger_show', {'id': g26.getAtemschutzgeraetetraeger().getId(), '_format': 'html'}) }}">Abbrechen</a>
</ul>
{% endblock %}

{% block moduleBody %}
{% include 'AtemschutzNachweisBundle:G26:form.html.twig' %}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript">
	$(function() {
		$( ".date" ).datepicker({
			dateFormat: 'dd.mm.yy',
			showOn: "both",
			changeMonth: true,
			changeYear: true,
			buttonImage: "{{ asset('bundles/atemschutzcore/images/icons/16x16/calendar.png') }}",
			buttonImageOnly: true,
			showOtherMonths: true,
			selectOtherMonths: true
		});
	});
	</script>
{% endblock %}